{% include "header.html" %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Strona startowa</a></li>
            <li class="current">Backend</li>
          </ol>
        </nav>
        <h1>Szczególy projektu</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up">

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-description">
              
              <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                  <h1>
                    Backend strony internetowej <a href="https://piotr-pawlak-web.onrender.com">piotr-pawlak-web.onrender.com</a>
                  </h1>
                </div>
              </div>

              
              <div class="container py-4" data-aos="fade-up" data-aos-delay="100">
                  </h2>
                  <p>
                    Projekt ma na celu automatyczne pozyskiwanie danych z serwisu Otodom.pl, agregującego ogłoszenia sprzedaży mieszkań. Zgromadzone dane z rynku pierwotnego i wtórnego Warszawy posłużą do dalszej analizy trendów cenowych, preferencji kupujących oraz charakterystyki dostępnych nieruchomości.
                  </p>
              </div>

              <div class="portfolio-description">
                <div class="portfolio-details-slider swiper init-swiper">
                  <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "navigation": {
                        "nextEl": ".swiper-button-next",
                        "prevEl": ".swiper-button-prev"
                      },
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                  </script>
                  <div class="swiper-wrapper align-items-center">
        
                    <div class="swiper-slide">
                      <img src="static/assets/img/portfolio/backend_1.png" alt="">
                    </div>
        
                    <div class="swiper-slide">
                      <img src="static/assets/img/portfolio/backend_2.png" alt="">
                    </div>
        
                    <div class="swiper-slide">
                      <img src="static/assets/img/portfolio/backend_3.png" alt="">
                    </div>
        
                  </div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>

              <!-- Services Section -->
              <section id="services" class="services section">

                <!-- Section Title -->
                <div class="container section-title py-1" data-aos="fade-up">
                  <h2>Technologie i biblioteki</h2>
                </div><!-- End Section Title -->

                <div class="container">

                  <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                      <div class="service-item item-cyan position-relative">
                        <div class="icon">
                          <img src="static/assets/img/portfolio/python_icon.svg" class="img-fluid"></img>
                        </div>
                        <a href="https://www.python.org/" class="stretched-link">
                          <h3>Python</h3>
                        </a>
                        <p>
                          Język programowania wykorzystany do implementacji skryptu.
                        </p>
                      </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                      <div class="service-item position-relative">
                        <div class="icon">
                          <img src="static/assets/img/portfolio/flask_icon.svg" class="img-fluid"></img>
                        </div>
                        <a href="https://flask.palletsprojects.com/en/stable/" class="stretched-link">
                          <h3>Flask</h3>
                        </a>
                        <p>
                          Framework webowy WSGI, umożliwiający budowę funkcjonalności aplikacji internetowych.
                        </p>
                      </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                      <div class="service-item item-teal position-relative">
                        <div class="icon">
                          <img src="static/assets/img/portfolio/postgresql_icon.svg" class="img-fluid"></img>
                        </div>
                        <a href="https://www.postgresql.org/" class="stretched-link">
                          <h3>PostgreSQL</h3>
                        </a>
                        <p>
                          Relacyjny system bazy danych, wykorzystywany do przechowywania i efektywnego zarządzania danymi w projekcie analizy ogłoszeń nieruchomości.
                        </p>
                      </div>
                    </div><!-- End Service Item -->

                  </div>

                </div>

              </section><!-- /Services Section -->

              <div class="container section-title py-1" data-aos="fade-up" data-aos-delay="100">
                <h2>
                  Założenia projektu
                </h2>
              </div>

              <ul>
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <li>
                    <h4>Wykorzystanie  szablonu z <a href="https://bootstrapmade.com/">BootstrapMade.com</a></h4>
                    <p>
                      Wybranie jednego z dostępnych szablonów z serwisu bootstrapmade.com celem przyspieszenia prac nad frontendem strony, a następnie dostosowanie układu i treści tak, aby w prosty sposób zaprezentować CV, portfolio projektowe oraz umożliwić kontakt poprzez formularz.
                    </p>
                  </li>
                </div>
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <li>
                    <h4>Backend – Python i Flask</h4>
                    <p>Implementacja serwera aplikacji w technologii Flask, co pozwala na szybkie tworzenie lekkich i wydajnych aplikacji webowych.</p>
                    <p>Definicja ścieżek obsługujących żądania HTTP (GET, POST) zarówno dla wyświetlania stron (renderowanie szablonów), jak i dla komunikacji z formularzem kontaktowym.</p>
                  </li>
                </div>
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <li>
                    <h4>Baza danych – PostgreSQL</h4>
                    <p>
                      Użycie PostgreSQL jako relacyjnej bazy danych do przechowywania informacji o projektach.
                    </p>
                  </li>
                </div>
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <li>
                    <h4>Proces uruchomienia strony internetowej</h4>
                    <p>
                      Przygotowanie konfiguracji i uruchomienie aplikacji na platformie Render.
                    </p>
                  </li>
                </div>
              </ul>

              <div class="container section-title py-2" data-aos="fade-up" data-aos-delay="100">
                <h2>
                  <i class="fa-brands fa-python"></i>
                  Kod źródłowy
                </h2>
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <div class="portfolio-info">
                    <a href="https://github.com/PiotrP66/Piotr_Pawlak_web" class="btn-visit align-self-start">Github</a>
                  </div>
                </div>
              </div>

              <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="language-python">
                  <!-- Kod Python -->
                  <pre>
                  from dotenv import find_dotenv, load_dotenv
                  from flask import Flask, render_template, request
                  from flask_bootstrap import Bootstrap5
                  from flask_sqlalchemy import SQLAlchemy
                  from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column
                  from sqlalchemy import Integer, String
                  import smtplib
                  import os
                  import datetime

                  # Curent year
                  year = datetime.date.today().year

                  # Find and load environment variables
                  dotenv_patch = find_dotenv()
                  load_dotenv(dotenv_patch)

                  app = Flask(__name__)
                  app.config['SECRET_KEY'] = os.getenv('SECRET_KEY')
                  Bootstrap5(app)

                  # CREATE DATABASE


                  class Base(DeclarativeBase):
                      pass


                  app.config['SQLALCHEMY_DATABASE_URI'] = os.getenv(
                      'DB_URI', 'sqlite:///diagrams.db')
                  db = SQLAlchemy(model_class=Base)
                  db.init_app(app)

                  # CONFIGURE TABLE


                  class Diagrams(db.Model):
                      id: Mapped[int] = mapped_column(Integer, primary_key=True)
                      title: Mapped[str] = mapped_column(
                          String(250), nullable=False)
                      diagram: Mapped[str] = mapped_column(String, nullable=False)
                      edit_date: Mapped[str] = mapped_column(String(250), nullable=False)


                  with app.app_context():
                      db.create_all()

                  with app.app_context():
                      diagram = db.session.execute(
                          db.select(Diagrams.diagram).order_by(Diagrams.id))
                      title = db.session.execute(
                          db.select(Diagrams.title).order_by(Diagrams.id))
                      all_diagrams = diagram.scalars().all()
                      all_titles = title.scalars().all()
                      diagrams_dict = {k: v for (k, v) in zip(all_titles, all_diagrams)}


                  @app.route('/')
                  def home():
                      return render_template('index.html', year=year)


                  @app.route('/project_1')
                  def project_1():
                      return render_template('project-1-details.html', fig=diagrams_dict, year=year)


                  @app.route('/project_2')
                  def project_2():
                      return render_template('project-2-details.html', year=year)


                  @app.route('/project_3')
                  def project_3():
                      return render_template('project-3-details.html', year=year)


                  @app.route('/project_4')
                  def project_4():
                      return render_template('project-4-details.html', year=year)


                  @app.route('/send-email', methods=['POST'])
                  def send_mail():
                      name = request.form.get('name')
                      from_email = request.form.get('email')
                      subject = request.form.get('subject')
                      msg_body = request.form.get('message')

                      msg = f'Subject: {subject}\n\nOd: {from_email}\nAuthor: {name}\n\nMessage:'
                      # \n{msg_body}'
                      print(msg_body)

                      my_email = str(os.getenv('MY_EMAIL'))
                      my_password = str(os.getenv('MY_PASSWORD'))

                      try:
                          with smtplib.SMTP("smtp.gmail.com", 587) as connection:
                              connection.starttls()
                              connection.login(user=my_email,
                                              password=my_password)
                              connection.sendmail(from_addr=my_email,
                                                  to_addrs=my_email,
                                                  msg=msg.encode('utf-8'))
                          return "OK"
                      except Exception as e:
                          return f"Błąd wysyłania wiadomości ({str(e)})"


                  if __name__ == "__main__":
                      app.run(debug=False, port=5003)
                  </pre>
                </div>
              </div>

              <div class="container section-title py-1" data-aos="fade-up" data-aos-delay="100">
                <h2>Podsumowanie</h2>
              </div>

              <div class="container py-4" data-aos="fade-up" data-aos-delay="100">
                <p>
                  Powyższe założenia mają na celu stworzenie funkcjonalnej, wydajnej i przyjaznej w obsłudze aplikacji webowej. Zastosowanie Flaska oraz PostgreSQL daje duże możliwości skalowania i rozbudowy projektu, a wykorzystanie gotowego szablonu z BootstrapMade pozwala skupić się przede wszystkim na warstwie logicznej i integracji z bazą danych.
                </p>
              </div>            

            <div class="testimonial-item">
              <div>
                <img src="static/assets/img/profile-img.JPG" class="testimonial-img" alt="">
                <h3>Piotr Pawlak</h3>
                <h4>Autor</h4>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

  {% include "footer.html" %}